.modalRed {
    transition: background-color 0.5s ease;
    background-color: #f8c1ba;
}
.modalYellow {
    transition: background-color 0.5s ease;
    background-color: #faeba6;
}
.modalGreen {
    transition: background-color 0.5s ease;
    background-color: green;
}
.modalBlue {
    transition: background-color 0.5s ease;
    background-color: blue;
}
.modalViolet {
    transition: background-color 0.5s ease;
    background-color: violet;
}
.modal.modalRed.modalYellow.modalGreen.modalBlue.modalViolet {
    padding: 12px;
    font-size: 12px;
}
.modal.modalRed.modalYellow.modalGreen.modalBlue.modalViolet > .header {
    width: 100%;
    border-bottom: 1px solid gray;
    font-size: 18px;
    text-align: center;
    padding: 5px;
}
.modal.modalRed.modalYellow.modalGreen.modalBlue.modalViolet > .content {
    width: 100%;
    padding: 10px 5px;
}
.modal.modalRed.modalYellow.modalGreen.modalBlue.modalViolet > .actions {
    width: 100%;
    padding: 10px 5px;
    margin: auto;
    text-align: center;
}
.modal.modalRed.modalYellow.modalGreen.modalBlue.modalViolet > .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
}